@model Ignite.Models.ParentModels.ChangeEventsParentModel

<link rel="stylesheet" href="~/css/ChangeEvent.css" />

<div class="d-flex ChangeWidget">

    <div id="ChangePart" class="col-5">
        <h2 id="changeTitle">Change Event</h2>

        <form action="/Administration/AdminEvents/ChangeEvent" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="InputModel.Guid" hidden value="@Model.ViewModel.Guid" />

            <div>
                <label asp-for="InputModel.Name" class="form-label" hidden></label>
                <input asp-for="InputModel.Name" class="form-control form-control1" aria-required="true" placeholder="Name" />
            </div>

            <div>
                <label asp-for="InputModel.Address" class="form-label" hidden></label>
                <input asp-for="InputModel.Address" class="form-control form-control1" aria-required="true" placeholder="Address" />
            </div>

            <div>
                <label asp-for="InputModel.Description" class="form-label"></label>
                <textarea asp-for="InputModel.Description" class="form-control form-control1"></textarea>
            </div>

            <div>
                <label asp-for="InputModel.StartingDateTime" id="dateLabel" class="form-label">Start Date & Time</label>
                <input asp-for="InputModel.StartingDateTime" class="form-control" id="picker" value=@DateTime.Now />
            </div>

            <button id="changeButton" type="submit" class="w-100 btn btn-background-slide btn-lg btn-success">Change</button>
        </form>
    </div>

    <div class="align-items-center col-5" id="OldDataPart">
        <h2 id="OldTitle">Old Data</h2>
        <h4>
            <strong>Name:</strong>
            @Model.ViewModel.Name
        </h4>
        <h4>
            <strong>Address:</strong>
            @Model.ViewModel.Address
        </h4>
        <h4>
            <strong>Description:</strong>
        </h4>
        <div class="form-control1" id="descriptionOld" onload="OnLoad()">
            <p>
                @Model.ViewModel.Description
            </p>
        </div>
        <h4>
            <strong>Starts:</strong>
            @Model.ViewModel.StartingDateTime
        </h4>
    </div>
</div>
