@using Ignite.Models.ViewModels.Classes
@model List<AllClassesViewModel>

<link rel="stylesheet" href="~/css/ClassesAll.css" />

@if (!Model.Any())
{
    <h1 id="AllClassesTitle">There are no classes right now!</h1>
}

@if (Model.Any(c => c.UserAttends))
{
    <h1 id="AllClassesTitle">Take Part In *Paid*</h1>
}

@foreach (var classs in Model.Where(c => c.UserAttends))
{
    <div class="classesWidget">
        <div class="rowClasses">
            <h2>Class - @classs.Name</h2>
            <a class="btn btn-primary moreInfo" href="/Classes/Details?classId=@classs.Guid">
                MORE DETAILS
            </a>
        </div>
        <h4>Address: @classs.Address</h4>
        <h4 class="startsDate">Starts: @classs.StartingDateTime.ToString("dd/MM/yyyy HH:mm")</h4>

        <div class="rowClasses">
            <div id="duration">
                <img id="durationImage" src="~/Images/durationClock.png" \> <strong>@classs.DurationInMinutes</strong>
            </div>

            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> <strong>@classs.UsersCount</strong>
            </div>
            <div>
                <div id="allSeats">
                    SEATS LEFT: <strong>@(classs.AllSeats - classs.UsersCount)</strong>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Any(e => !e.UserAttends))
{
    <h1 id="AllClassesTitle">Other Classes</h1>
}

@foreach (var classs in Model.Where(c => !c.UserAttends))
{
    <div class="classesWidget">
        <div class="rowClasses">
            <h2>Class - @classs.Name</h2>
            <a class="btn btn-primary moreInfo" href="/Classes/Details?classId=@classs.Guid">
                MORE DETAILS
            </a>
        </div>
        <h4>Address: @classs.Address</h4>
        <h4 class="startsDate">Starts: @classs.StartingDateTime.ToString("dd/MM/yyyy HH:mm")</h4>

        <div class="rowClasses">
            <div id="duration">
                <img id="durationImage" src="~/Images/durationClock.png" \> <strong>@classs.DurationInMinutes</strong>
            </div>

            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> <strong>@classs.UsersCount</strong>
            </div>
            <div>
                <div id="allSeats">
                    SEATS LEFT: <strong>@(classs.AllSeats - classs.UsersCount)</strong>
                </div>
            </div>
        </div>
    </div>
}