@model Ignite.Models.ViewModels.Classes.ShowClassDetailsViewModel

<link rel="stylesheet" href="~/css/ClassesDetails.css" \>

<div class="classesWidget">

    <div id="titlePart" class="delimiter">
        <div class="d-flex Row">
            <div>
                <h1>@Model.Name</h1>
            </div>
            <div class="d-flex">
                <div id="price">
                    <h4 >$@Model.Price</h4>
                </div>
                <div>
                    @if (@Model.UserAttends)
                    {
                        <h4 id="subscribedLabel">PURCHASED</h4>
                    }
                    else
                    {
                        <a href="Attend?classId=@Model.Guid" class="btn btn-success buttonn">SUBSCRIBE</a>
                    }
                </div>
            </div>
        </div>
        <h2>@Model.Address</h2>
    </div>

    <div id="descPart" class="delimiter">

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>
                @Model.Description
            </p>
        }
        else
        {
            <p>
                Unfortunately, description is not provided for this event. <br \>
                Please get in touch with our <strong>Client Support</strong> via
                <br \><strong>+359 55 076 076</strong> OR <strong>ignite@ignite.ignite</strong>
                for more information about this event.
            </p>
        }
    </div>

    <div id="footerPart" class="delimiter">
        <div class="d-flex Row">
            <div>
                <p id="date">@Model.StartingDateTime.ToString("dd/MM/yyyy HH:mm")</p>
            </div>

           <div id="duration">
                <img id="durationImage" src="~/Images/durationClock.png" \> @Model.DurationInMinutes
            </div>

            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> @Model.UsersCount
            </div>
            <div>
                <div id="allSeats">
                    SEATS LEFT: <strong>@(Model.AllSeats - Model.UsersCount)</strong>
                </div>
            </div>
        </div>
    </div>
</div>