@using Ignite.Models.ViewModels.Events
@model List<ShowEventsViewModel>

<link rel="stylesheet" href="~/css/EventsAll.css" />


@if (Model.Any(e => e.UserAttends))
{
    <h1 id="AllEventsTitle">Take Part In</h1>
}

@foreach (var ev in Model.Where(e => e.UserAttends))
{
    <div class="eventsWidget">
        <div class="rowEvents">
            <h2>Event - @ev.Name</h2>
            <a href="UnAttend?eventId=@ev.Guid" class="btn btn-danger buttonn">UNSUBSCRIBE</a>
        </div>
        <h4>Address: @ev.Address</h4>
        <div class="rowEvents">
            <h4>Starts: @ev.StartingDateTime.ToString("dd/MM/yyyy HH:mm")</h4>
            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" /> @ev.UsersCount
            </div>
        </div>
        
        <a class="btn btn-primary" href="/Events/Details?eventId=@ev.Guid">
            MORE DETAILS
        </a>
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <h1 id="AllEventsTitle">All Events</h1>
}
else if (Model.Any(e => !e.UserAttends))
{
    <h1 id="AllEventsTitle">Other Events</h1>
}

@foreach (var ev in Model.Where(e => !e.UserAttends))
{
    <div class="eventsWidget">
        <div class="rowEvents">
            <h2>Event - @ev.Name</h2>
             <a href="Attend?eventId=@ev.Guid" class="btn btn-success buttonn">SUBSCRIBE</a>
        </div>
        <h4>Address: @ev.Address</h4>
        <div class="rowEvents">
            <h4>Starts: @ev.StartingDateTime.ToString("dd/MM/yyyy HH:mm")</h4>
            <div id="peopleAttend">
                <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> @ev.UsersCount
            </div>
        </div>

        <a class="btn btn-primary" href="/Events/Details?eventId=@ev.Guid">
            MORE DETAILS
        </a>
    </div>
}
