@model Ignite.Models.ParentModels.AllClassesParentModel

<link rel="stylesheet" href="~/css/AdminClasses.css" />

<div id="AddWidget" class="col-6">
    <h2 id="addTitle">Add Class</h2>

    <form action="/Administration/AdminClasses/AddClass" method="post" asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="AddClassInputModel.Name" class="form-label"></label>
        <input asp-for="AddClassInputModel.Name" class="form-control form-control1" aria-required="true" placeholder="Name" />

        <label asp-for="AddClassInputModel.Address" class="form-label"></label>
        <input asp-for="AddClassInputModel.Address" class="form-control form-control1" aria-required="true" placeholder="Address" />

        <br \>

        <label asp-for="AddClassInputModel.Description" class="form-label"></label>
        <br \>
        <textarea asp-for="AddClassInputModel.Description" class="form-control form-control1"></textarea>
        <br \>

        <label asp-for="AddClassInputModel.StartingDateTime" class="form-label">Start Date & Time</label>
        <input asp-for="AddClassInputModel.StartingDateTime" class="form-control" value=@DateTime.Now />

        <br \>

        <label asp-for="AddClassInputModel.DurationInMinutes" class="form-label">Duration (in minutes)</label>
        <input asp-for="AddClassInputModel.DurationInMinutes" class="form-control form-control1" aria-required="true" placeholder="Duration (in minutes)" />

        <label asp-for="AddClassInputModel.Price" class="form-label"></label>
        <input asp-for="AddClassInputModel.Price" class="form-control form-control1" aria-required="true" placeholder="Price" />

        <label asp-for="AddClassInputModel.AllSeats" class="form-label">All Seats</label>
        <input asp-for="AddClassInputModel.AllSeats" class="form-control form-control1" aria-required="true" placeholder="All Seats" />

        <button id="addButton" type="submit" class="w-100 btn btn-background-slide btn-lg btn-primary">ADD</button>
    </form>
</div>

@foreach (var classs in Model.ShowClassesViewModel)
{
    <div class="classesWidget col-8">
        <div class="rowClasses">
            <h2>Class - @classs.Name</h2>
            <div>
                <a href="ChangeClass?classId=@classs.Guid">
                    <img id=changeButton src="~/Images/Wrench.png" />
                </a>
                <a href="RemoveClass?classId=@classs.Guid">
                    <img id=removeButton src="~/Images/RemoveRedCrossImage.jpg" />
                </a>
            </div>
        </div>
        <h4>Address - @classs.Address</h4>
        <h4>Starts - @classs.StartingDateTime</h4>

        <div class="rowClasses">
            <div id="duration">
                    <img id="durationImage" src="~/Images/durationClock.png" \> <strong>@classs.DurationInMinutes</strong>
                </div>

                <div id="peopleAttend">
                    <img id="peopleAttendImage" src="~/Images/PeopleAttendIcon.png" \> <strong>@classs.UsersCount</strong>
                </div>
                <div>
                    <div id="allSeats">
                        SEATS LEFT: <strong>@(classs.AllSeats - classs.UsersCount)</strong>
                    </div>
                </div>
        </div>
    </div>
}